<%- include("../partials/head.ejs") %>
  <div class="container mt-5">
    <% if (messages.success) { %>
      <div class="alert alert-info" role="alert">
        <%- messages.success %>
      </div>
    <% } %>
    <div class="row">
      <div class="col">
        <a href="/alat_tangkap/create" class="btn btn-sm btn-success mb-3">Tambah</a>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">alat_tangkap</th>
              <th colspan="2" scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < data.length; i++){ %>
              <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= data[i].alat_tangkap %></td>
                <td>
                  <a href="/alat_tangkap/edit/<%= data[i].id_alat_tangkap %>" class="btn btn-sm btn-warning">Edit</a>
                  <a href="/alat_tangkap/delete/<%= data[i].id_alat_tangkap %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%- include('../partials/foot.ejs') %>
